# Puerto donde correrá el backend localmente
PORT=3000

# Conexión a la Base de Datos MySQL
DATABASE_URL="mysql://usuario:password@localhost:3306/gestor_calidad"

# Configuración del Token JWT
JWT_SECRET="tu_clave_secreta"
JWT_EXPIRES="5y"

# Web Push Notificaciones
VAPID_SUBJECT="mailto:tu-correo@empresa.com"
VAPID_PUBLIC_KEY="tu_vapid_public_key"
VAPID_PRIVATE_KEY="tu_vapid_private_key"

# Cloudinary para evidencias
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"

# Orígenes CORS permitidos en producción (separados por coma y sin espacios)
ALLOWED_ORIGINS="http://localhost:5173,https://tareas-calidad.netlify.app"
