node_modules/
.env
/dist
*.tsbuildinfo
/generated/prisma
# Archivos de usuario
/uploads/

# TypeScript build artifacts
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/**/*.d.ts.map

!src/types/**/*.d.ts
